<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>balaji</title>
</head>
<body>
      

    <center style="background: url(https://th.bing.com/th/id/R.560945ca3f363363d41d2999e5457241?rik=byTFWqYvc81kmA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f69uC939.jpg&ehk=94w%2bVBfM5EHbumT74qXHvChRFgkWWn1b5N93blKjFGY%3d&risl=&pid=ImgRaw&r=0) ;width: 1000px;height: max-content;">
        
        <h1 style="background:url(https://th.bing.com/th/id/OIP.9EmZ45ByG7FKVHkLDhuADgHaFP?pid=ImgDet&rs=1); color: white;" >My Brother Is One of The My Hero</h1>
        <h1>gangadhara</h1>
        
    </center>
</body>
</html>